<div class="row">
  <toaster-container [toasterconfig]="toasterConfig"></toaster-container>
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6" *ngFor="let item of appDetails; odd as isOdd">
    <nb-card size="medium">
      <nb-card-body>
        <div class="picture" style.background-image="url('assets/images/kitten-cosmic.png')"></div>

        <div class="details">
          <div class="title">
            {{item.appName}}
          </div>
          <div class="description">
            {{item.details.description}}
          </div>
        </div>
      </nb-card-body>


      <nb-card-footer>
        <a href="#/pages/tables/language-table/{{item.appName}}">
          <i class="fa fa fa-language"></i>
        </a>
        <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank">
          <i class="ion-social-apple"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
          <i class="ion-social-android"></i>
        </a>
        <a href="https://github.com/akveo/react-native-ui-kitten" target="_blank">
          <i class="ion-social-github"></i>
        </a>
      </nb-card-footer>
    </nb-card>
  </div>
</div>